<?xml version="1.0"?>
<config>
    <modules>
        <Robinhq_Hooks>
            <version>0.1.0</version>
        </Robinhq_Hooks>
    </modules>
    <global>
        <helpers>
            <hooks>
                <class>Robinhq_Hooks_Helper</class>
            </hooks>
        </helpers>
        <blocks>
            <hooks>
                <class>Robinhq_Hooks_Block</class>
            </hooks>
        </blocks>
        <models>
            <hooks>
                <class>Robinhq_Hooks_Model</class>
                <resourceModel>hooks_mysql4</resourceModel>
            </hooks>
        </models>
        <resources>
            <customerattribute1433318226_setup>
                <setup>
                    <module>Robinhq_Hooks</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customerattribute1433318226_setup>
            <customerattribute1433318226_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerattribute1433318226_write>
            <customerattribute1433318226_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerattribute1433318226_read>
        </resources>
        <events>
            <customer_save_after> <!-- identifier of the event we want to catch -->
                <observers>
                    <customer_save_after_handler> <!-- identifier of the event handler -->
                        <type>singleton</type>
                        <!-- class method call type; valid are model, object and singleton -->
                        <class>hooks/observer</class>
                        <!-- observers class alias -->
                        <method>customerHook</method>
                        <!-- observer's method to be called -->
                        <args></args>
                        <!-- additional arguments passed to observer -->
                    </customer_save_after_handler>
                </observers>
            </customer_save_after>
            <sales_order_place_after> <!-- identifier of the event we want to catch -->
                <observers>
                    <sales_order_place_after_handler> <!-- identifier of the event handler -->
                        <type>singleton</type>
                        <!-- class method call type; valid are model, object and singleton -->
                        <class>hooks/observer</class>
                        <!-- observers class alias -->
                        <method>orderPlacedHook</method>
                        <!-- observer's method to be called -->
                        <args></args>
                        <!-- additional arguments passed to observer -->
                    </sales_order_place_after_handler>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after> <!-- identifier of the event we want to catch -->
                <observers>
                    <sales_order_save_after_handler> <!-- identifier of the event handler -->
                        <type>model</type>
                        <!-- class method call type; valid are model, object and singleton -->
                        <class>hooks/observer</class>
                        <!-- observers class alias -->
                        <method>orderStatusChanceHook</method>
                        <!-- observer's method to be called -->
                        <args></args>
                        <!-- additional arguments passed to observer -->
                    </sales_order_save_after_handler>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <hooks>
                <use>admin</use>
                <args>
                    <module>Robinhq_Hooks</module>
                    <frontName>hooks</frontName>
                </args>
            </hooks>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <robinhq module="hooks">
                <title>Robin</title>
                <sort_order>90</sort_order>
                <children>
                    <hooksbackend module="hooks">
                        <title>Mass Send</title>
                        <sort_order>0</sort_order>
                        <action>hooks/adminhtml_hooksbackend</action>
                    </hooksbackend>
                </children>
            </robinhq>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <hooks translate="title" module="hooks">
                            <title>Hooks</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <hooksbackend translate="title">
                                    <title>Robin</title>
                                </hooksbackend>
                            </children>
                        </hooks>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <hooks>
                    <file>hooks.xml</file>
                </hooks>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <settings>
            <general>
                <enabled>0</enabled>
                <api_key></api_key>
                <api_secret></api_secret>
                <api_url>https://api.robinhq.com/</api_url>
                <bulk_limit>15</bulk_limit>
                <seconds_to_wait>2</seconds_to_wait>

            </general>
            <!--<optional>-->
            <!--<send_optional_fields>-->
            <!---->
            <!--</send_optional_fields>-->
            <!--</optional>-->
        </settings>
    </default>
</config> 